<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyANDgyZ-7DnoVlusCANVVI3JmhIA1CobDI</string>
	<key>GCM_SENDER_ID</key>
	<string>100768026651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smattech.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>smart-tech-7a97d</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-tech-7a97d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:100768026651:ios:f9665572fa63373d64a8be</string>
</dict>
</plist>